In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [11]:
df.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [12]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [13]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [22]:
df.dropna(thresh=2) #it means if any rows has any 2 non na values. keep it

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [26]:
df.fillna(value='fill value')

            A           B  C
0           1           5  1
1           2  fill value  2
2  fill value  fill value  3

In [27]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [34]:
df.fillna(value=df['A'].mean())

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

In [35]:
! git add Missing_Data.ipynb
! git commit -m "16:09/04-06-21"
! git push origin main

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Dataframe.ipynb
	modified:   Series.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	../.virtual_documents/
	../3.1 Py_DS_ML_Bootcamp-master.zip - Copy/
	.ipynb_checkpoints/
	Missing_Data.ipynb
	../kite_tutorial-checkpoint.ipynb
	../kite_tutorial.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

Everything up-to-date