In [17]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [22]:
labels = ['a','b','c',]
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data = my_data,index = labels) # series on list

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(data = arr,index= labels) #series on numpy array

a    10
b    20
c    30
dtype: int32

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [27]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [28]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [29]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [30]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [31]:
ser1['USA']

1

In [32]:
ser3 = pd.Series(data = labels)

In [33]:
ser3[0]

'a'

In [34]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [26]:
tf.one_hot(ser1,3)

<tf.Tensor: shape=(4, 3), dtype=float32, numpy=
array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 0.],
       [0., 0., 0.]], dtype=float32)>